#container #sidebar {
	min-width: 400px;
	width: 400px;
	height: 100%;
	box-sizing: border-box;
	gap: 10px;

	display: none;
	flex-direction: column;
}
#container #sidebar #texture_editor {
	width: 100%;
	min-height: 380px;
	background:#fff;
	box-sizing: border-box;
	padding: 10px;
	display: none;
	align-items: center;
	justify-content: center;
}
#container #sidebar #texture_editor_empty {
	width: 100%;
	min-height: 380px;
	background:#fff;
	box-sizing: border-box;
	padding: 10px;
	display: none;
	align-items: center;
	justify-content: center;
}
#container #sidebar #texture_editor table {
	width: 100%;
	height: 100%;
	border: 1px solid #000;
}
#container #sidebar #texture_editor table tr td {
	border: 1px solid #000;
}
#container #sidebar #texture_editor table tr td:hover {
	background: #fff;
	cursor: pointer;
}
#container #sidebar #texture_list_toolbar {
	width: 100%;
	background:#fff;
	box-sizing: border-box;
	padding: 10px;
	height: 60px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#container #sidebar #texture_list_toolbar_rename {
	width: 100%;
	background:#fff;
	box-sizing: border-box;
	padding: 10px;
	height: 60px;
	display: none;
}
#container #sidebar #texture_list_toolbar_rename input {
	width: 100%;
	font-size: 20px;
	border: 0px;
	background: #FFF;
	border-radius: 10px;
}
#container #sidebar #texture_list_toolbar_delete {
	width: 100%;
	background:#fff;
	box-sizing: border-box;
	padding: 10px;
	height: 60px;
	display: none;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
#container #sidebar #texture_list_toolbar_delete input {
	padding: 8px;
	border: 1px solid #666;
	color: #fff;
	background: #333;
	border-radius: 10px;
	font-size: 14px;
}
#container #sidebar #texture_list_toolbar_delete input:hover {
	background: #8bb1c7;
	color: #333;
	cursor: pointer;
}
#container #sidebar #texture_list_toolbar #toolbar_left {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
#container #sidebar #texture_list_toolbar #toolbar_right {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
#container #sidebar #texture_list_toolbar i {
	color: #333;
	font-size: 28px;
}
#container #sidebar #texture_list_toolbar i:hover:not( #colour_ind ) {
	color: #8bb1c7;
	cursor: pointer;
}
#container #sidebar #texture_list_toolbar #colour_ind {
	display: none;
}
#container #sidebar #texture_list_toolbar #toolbar_left i {
	margin: 0 8px 0 0;
}
#container #sidebar #texture_list_toolbar #toolbar_right i {
	margin: 0 0 0 8px;
}
#toolbar_new_group, #toolbar_new_texture, #toolbar_back {
	display: flex;
}
#container #sidebar #texture_list {
	width: 100%;
	background:#fff;
	flex: 1;
	box-sizing: border-box;
	padding: 10px;
	overflow: auto;
}
#container #sidebar #texture_list .sortable .ui-group  {
	background: #ccc;
}
#container #sidebar #texture_list .sortable .ui-group:hover  {
	background: #999;
	cursor: pointer;
}
#container #sidebar #texture_list .sortable .ui-texture  {
	background: #fff;
	margin-left: 20px;
}
#container #sidebar #texture_list .sortable .ui-texture:hover  {
	background: #ccc;
	cursor: pointer;
}
#container #sidebar #texture_list .sortable .ui-bg-texture  {
	background: #adcddf;
	margin-left: 20px;
}
#container #sidebar #texture_list .sortable .ui-bg-texture:hover  {
	background: #fff;
	cursor: pointer;
}
#container #sidebar #texture_list .sortable li {
	font-size: 1.2em;
	margin: 0 0 5px 0;
	padding: 5px;
	line-height: 1.2em;
	border: 1px solid #666;
}
#container #sidebar #texture_list .sortable .resize_disabled  {
	cursor: default;
	background: #ccc;
}
#container #sidebar #texture_list .sortable .resize_disabled:hover  {
	cursor: default;
	background: #ccc;
}
#container #sidebar #texture_list .sortable .ui-state-group-highlight {
	background: #8bb1c7;
	height: 1.5em;
	line-height: 1.2em;
}
#container #sidebar #texture_list .sortable .ui-state-texture-highlight {
	background: #8bb1c7;
	height: 1.5em;
	line-height: 1.2em;
	margin-left: 20px;
}


#container #toolbar #settings {
	display: none;
	flex-direction: column;
	gap: 14px;
	box-sizing: border-box;
}
#container #toolbar #settings #controls {
	display: none;
	flex-direction: row;
	gap: 8px;
}
#container #toolbar #settings #controls i{
	color: #333;
	font-size: 28px;
}
#container #toolbar #settings #controls i:hover {
	color: #8bb1c7;
	cursor: pointer;
}
#container #toolbar #settings #controls .resize_disabled {
	color: #999;
}
#container #toolbar #settings #controls .resize_disabled:hover {
	color: #999;
	cursor: auto;
}
#container #toolbar #settings #controls .toolbar_separator {
	background: #666;
	margin: 6px 4px 6px 4px;
	width: 2px;
	border-radius: 1px;
}
#container #toolbar #settings #name_input_container {
	display: none;
}
#container #toolbar #settings #name_input_container #name_input {
	width: 400px;
	font-size: 20px;
	border: 0px;
	background: #FFF;
}
#container #toolbar #settings #map_confirm {
	display: none;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	margin: 6px 0 0 0;
}
#container #toolbar #settings #map_confirm input {
	padding: 8px;
	border: 1px solid #666;
	color: #fff;
	background: #333;
	border-radius: 10px;
	font-size: 14px;
}
#container #toolbar #settings #map_confirm input:hover {
	background: #8bb1c7;
	color: #333;
	cursor: pointer;
}
#container #toolbar #settings #map_export {
	display: none;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
	margin: 6px 0 0 0;
}
#container #toolbar #settings #map_export input {
	padding: 8px;
	border: 1px solid #666;
	color: #fff;
	background: #333;
	border-radius: 10px;
	font-size: 14px;
	width: 105px;
}
#container #toolbar #settings #map_export input:hover {
	background: #8bb1c7;
	color: #333;
	cursor: pointer;
}
#container #toolbar #map_settings {
	display: none;
	flex-direction: column;
	background: #8bb1c7;
	gap: 14px;
	padding: 10px;
	border-radius: 6px;
	box-sizing: border-box;
}
#container #toolbar #map_settings #map_settings_heading {
	display: flex;
	flex-direction: row;
	font-size: 22px;
}
#container #toolbar #map_settings #map_settings_options {
	display: flex;
	flex-direction: row;
}
#container #toolbar #map_settings #map_settings_options .checkbox-input {
	width: 30px;
	height: 30px;
	margin: 0px;
}
#container #toolbar #map_settings #map_settings_options label {
	width: 120px;
	margin: 6px 0 0 0;
}
#container #toolbar #map_paint_preview {
	width: 100px;
	height: 100%;
	margin: 0 0 0 6px;
	display: none;
}
#container #toolbar #map_paint_preview table {
	min-width: 95px;
	height: 100%;
	border: 2px solid #000;
	border-spacing: 0;
}
#container #toolbar #map_paint_settings {
	display: none;
	flex-direction: row;
	background: #8bb1c7;
	height: 100%;
	gap: 14px;
	padding: 0 10px 0 10px;
	border-radius: 6px;
}
#container #toolbar #map_paint_settings #map_paint_settings_l, #container #toolbar #map_paint_settings #map_paint_settings_r {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 14px;
	box-sizing: border-box;
}
#container #toolbar #map_paint_settings .checkbox-input{
	width: 30px;
	height: 30px;
	margin: 0px;
}
#container #toolbar #map_paint_settings .text-input {
	font-size: 12px;
	width: 40px;
	background: #FFF;
}
#container #toolbar #map_paint_settings .select-input {
	font-size: 16px;
	background: #FFF;
	border-radius: 10px;
	border: 1px solid #666;
	padding: 4px;
}
#container #toolbar #map_paint_settings #top_layer_en {
	margin-left: 3px;
}
#container #toolbar #map_paint_settings #exit_tile_map_id {
	font-size: 16px;
	width: 190px;
}
#container #toolbar #map_paint_settings #exit_tile_map_dir {
	font-size: 16px;
	width: 130px;
}
#container #toolbar #map_paint_settings #map_exit_tile_en label {
	min-width: 30px;
}
#container #toolbar #map_paint_settings label {
	margin: 6px 0 0 0;
}
#container #toolbar #map_paint_settings div {
	display: flex;
	flex-direction: row;
	gap: 10px;
}
#container #toolbar #map_paint_settings #map_paint_settings_r label {
	display: inline-block;
	min-width: 40px;
}
#container #toolbar #map_paint_settings #map_paint_settings_r input {
	display: inline-block;
}
#container #toolbar #map_size_settings {
	display: none;
	flex-direction: column;
	gap: 4px;
	font-size: 20px;
}
#container #toolbar #map_size_settings div {
	padding: 2px;
}
#container #toolbar #map_size_settings input {
	display: inline-block;
	min-width: 80px;
}
#container #toolbar #map_size_settings label {
	display: inline-block;
	min-width: 100px;
}
#container #toolbar input {
	padding: 8px;
	border: 1px solid #666;
	background: #fff;
	color: #333;
	border-radius: 10px;
	font-size: 20px;
	width: 80px;
}

#container #content #map_editor_container {
	max-width: 100%;
	background:#fff;
	box-sizing: border-box;
	padding: 10px;
	overflow: auto;
	display: none;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}
#container #content #map_editor_container #map_editor {
	display: none;
}
#container #content #map_editor_container #map_editor #map_editor_table {
	overflow: auto;
	padding: 0px;
	margin: 0px;
	border-spacing: 1px;
}
#container #content #map_editor_container #map_editor #map_editor_table .texture_table {
	border-spacing: 0;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}